/*
Search & New 
- transform-origin
- skewY
- flex: 1;
- flex-direction
- text-align
- animation
- @keyframes
- Background
- counter-ancrement
- display : block;
- out-line
- writing-mode
-
*/

/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --section-background: #ececec;
  --main-padding: 100px;
  --main-transition: 0.3s;
  --animation-sec: 0.5s;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Cairo', sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.main-title {
    text-transform: uppercase;
    margin: 0 auto 80px;
    padding: 10px 20px;
    border: 2px solid black;
    font-size: 30px;
    width: fit-content;
    position: relative;
    z-index: 1;
    transition: var(--main-transition);
}
.main-title:hover {
  color: white;
  border: 2px solid white;
  transition-delay: var(--animation-sec)
}
.main-title::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -30px;
    background-color: var(--main-color);
    width: 12px;
    height: 12px;
    border-radius: 52%;
}
.main-title::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -30px;
    background-color: var(--main-color);
    width: 12px;
    height: 12px;
    border-radius: 52%;
}
.main-title:hover::before {
  z-index: -1;
  animation: left-move var(--animation-sec) linear forwards;
}
.main-title:hover::after {
  z-index: -1;
  animation: right-move var(--animation-sec) linear forwards;
}
.dots {
  background-image: url(../image/dots.png);
  height: 186px;
  width: 204px;
  background-repeat: no-repeat;
  position: absolute;
}
.dots-up {
  top: 200px;
  right: 0;
}
.dots-down {
  bottom: 200px;
  left: 0;
}
/* End Global Rules */

/* Start Header */
.header {
  background-color: white;
  box-shadow: 0 0 10px #ddd;
  position: relative;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
@media (max-width: 767px) {
  .header .container {
    display: flex;
    justify-content: center;
  }
}
.header .logo {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 26px;
  color: var(--main-color);
  font-weight: bold;
  height: 72px;
}
@media (max-width: 767px) {
  .header .logo {
    width: 100%;
    height: 50px;
    top: 100%;
  }
}
.header .main-nav {
  display: flex;
}
.header .main-nav > li:hover .megamenu {
  opacity: 1;
  z-index: 1; 
  top: calc(100% + 1px);
}
.header .main-nav > li > a {
  padding: 0 30px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  color: black;
  font-size: 18px;
  height: 72px;
  position: relative;
  transition: var(--main-transition);
  overflow: hidden;
}
@media (max-width: 767px) {
.header .main-nav > li > a   {
  padding: 0 10px;
  font-size: 14px;
  height: 40px;
  }
}
.header .main-nav > li > a::before {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  width: 0;
  height: 4px;
  top: 0;
  left: 0;
  transition: var(--main-transition);
}
.header .main-nav > li > a:hover {
  color: var(--main-color);
  background-color: #fafafa
} 
.header .main-nav > li > a:hover::before {
  width: 100%;
} 
.header .megamenu {
  position: absolute;
  width: 100%;
  left: 0;
  padding: 30px;
  background-color: white;
  border-bottom: 3px solid var(--main-color);
  z-index: -1;
  opacity: 0;
  display: flex;
  gap: 40px;
  top: calc(100% + 50px);
  transition: top var(--main-transition), opacity var(--main-transition)
}
@media (max-width: 767px) {
  .header .megamenu {
    flex-direction: column;
    gap:0;
    padding: 5px;
  }
}
.header .megamenu img {
  max-width: 100%;
}
@media (max-width: 991px) {
  .header .megamenu img {
    display: none;
  }
}
.header .megamenu .links {
  flex: 1;
  min-width: 250px;
}
.header .megamenu .links li:not(:last-child) {
  border-bottom: 1px solid #e9e6e6; 
}
.header .megamenu .links li {
  position: relative;
}
@media (max-width: 767px) {
  .header .megamenu .links:first-of-type li:last-child {
    border-bottom: 1px solid #e9e6e6; 
  }
}
.header .megamenu .links li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #cdc9c94a;
  z-index: -1;
  transition: var(--main-transition);
}
.header .megamenu .links li:hover::before {
  width: 100%;
}
.header .megamenu .links li a {
  color: var(--main-color);
  padding: 15px;
  font-weight: bold;
  display: block;
  font-size: 18px;
}
.header .megamenu .links li i {
  margin-right: 10px;
}
/* End Header */

/* Start Landing */
.landing {
  position: relative;
}
.landing::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -40px;
  left: 0;
  background-color: var(--section-background);
  z-index: -1;
  transform: skewY(-6deg);
  transform-origin: top left;
}
.landing .container {
  height: calc(100vh - 72px);
  display: flex;
  align-items: center;
  padding-bottom: 120px;
}
.landing .text {
  flex: 1;
}
@media (max-width: 990px) {
.landing .text {
  text-align: center;
  }
}
.landing .text h1 {
  font-size: 40px;  
  margin: 0;
  letter-spacing: -2px;
}
@media (max-width: 990px) {
.landing .text h1 {
  font-size: 28px;
  }
}
.landing .text p {
  font-size: 23px;
  line-height: 1.7;
  margin: 5px 0 0;
  color: #666;
  max-width: 500px;
}
@media (max-width: 990px) {
.landing .text p {
  margin: 10px auto;
  font-size: 18px;
  }
}
.landing .image img {
  position: relative;
  width: 600px;
  animation: up-and-down 5s linear infinite;

}
@media (max-width: 990px) {
.landing .image img {
display: none;
  }
}
.landing .go-down {
  color: var(--main-color);
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  transition: var(--main-transition);
}
.landing .go-down:hover {
  color: var(--main-color-alt)
}
.landing .go-down i {
  animation: bouncing 1.5s infinite;
}
/* End Landing */

/* Start Articles */
.articles {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}
.articles .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 40px;
} 
.articles .box {
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  background-color: white;
  border-radius: 4px;
  overflow: hidden;
  transition: transform var(--main-transition), box-shadow var(--main-transition);
}
.articles .box:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 15px rgb(0 0 0 / 20%)
}
.articles .box img {
  max-width: 100%;
  width: 100%;
}
.articles .box .content {
  padding: 20px;
}
.articles .box .content h3 {
  margin: 0;  
}
.articles .box .content p {
  color: #777;
  margin: 10px 0 0;
}
.articles .box .info {
  padding: 20px;
  border-top: 1px solid #e6e6e7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.articles .box .info a {
  color: var(--main-color);
  font-weight: bold;
}
.articles .box .info i {
  color: var(--main-color); 
}
/* End Articles*/

/* Start Gallery */
.gallery {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  background-color: var(--section-background)
}
.gallery .container{  
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.gallery .box {
  background-color: white;
  padding: 15px;
  box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%),
  0px 2px 4px 0px rgb(0 0 0 / 12%);
}
.gallery .box .image {
  position: relative;
  overflow: hidden;
}
.gallery .box .image::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0px;
  height: 0px;
  background-color: rgb(255 255 255 / 20%);
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 2;
}
.gallery .box .image:hover::before {
  animation: flashing 0.7s;
}
.gallery .box .image img {
  max-width: 100%;
  transition: var(--main-transition);
} 
.gallery .box .image:hover img {
  transform: rotate(5deg) scale(1.1);
}
/* End Gallery */

/* Start Features */
.features {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  background-color: white;
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
/* => Glopal boxs */
.features .box {
  text-align: center;
  border: 1px solid #ccc;
  overflow: hidden
}
.features .box .image-holder {
  position: relative;
}
.features .box .image-holder::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -1px;
  left: 0;
}
.features .box .image-holder::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-style: solid;
  border-width: 0px 0px 170px 500px;
  border-color: transparent transparent white transparent;
  transition: var(--main-transition);
}
.features .box:hover .image-holder::after {
  border-width: 0 500px 170px 0;
  border-color: transparent transparent white transparent;
}
.features .box .image-holder img {
  max-width: 100%;
}
.features .box h2 {
  font-size: 40px;
  margin: auto;
  position: relative;
  width: fit-content;
}
.features .box h2::after {
  content: "";
  position: absolute;
  width: calc(100% - 30px);
  height: 5px;
  bottom: -20px;
  left: 15px;
}
.features .box p {
  padding: 24px;
  margin: 30px 0;
  color: #777;
  font-size: 20px;
  line-height: 2;
}
.features .box a {
  border: 3px solid transparent;
  padding: 10px 30px;
  margin: 0 auto 30px;
  display: block;
  width: fit-content;
  font-weight: bold;
  border-radius: 6px;
  font-size: 22px;
  transition: var(--main-transition);
}
.features .box:hover a {
  background-position: left bottom;
  color: white;
}

/* => Quality box */
.features .quality .image-holder::before {
  background-color: rgb(244 64 54 / 60%);
}
.features .quality h2::after {
  background-color: #f44036;
}
.features .quality a {
  border-color: #f44036;
  color: #f44036;
  background: linear-gradient(to right, #f44036 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;  
}
/* => Time box */
.features .time .image-holder::before {
  background-color: rgb(0 150 136 / 60%);
}
.features .time h2::after {
  background-color: #009688;
}
.features .time a {
  border-color: #009688;
  color: #009688;
  background: linear-gradient(to right, #009688 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

/* => Passion box */
.features .passion .image-holder::before {
  background-color: rgb(3 169 244 / 60%);
}
.features .passion h2::after {
  background-color: #03a9f4;  
}
.features .passion a {
  border-color: #03a9f4;
  color: #03a9f4;
  background: linear-gradient(to right, #03a9f4 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

/* End Features */

/* Start Testimonials */
.testimonials {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  background-color: var(--section-background)
}
.testimonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;  
}
.testimonials .box {
  position: relative;
  background-color: white;
  box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
  border-radius: 6px;
  padding: 20px;
}
.testimonials .box img {
  position: absolute;
  width: 100px;
  height: 100px;
  top: -50px;
  right: -10px;
  border-radius: 50%;
  border: 10px solid var(--section-background);
}
.testimonials .box h3 {
  margin: 0 0 10px;
}
.testimonials .box .title {
  color: #777;
  margin: 0 0 10px;
  display: block;
}
.testimonials .box .rate .filled  {
  color: #ffc107;
}
.testimonials .box p {
  color: #777;
  margin: 10px 0 0 0;
  line-height: 1.5;
}
/* End Testimonials */

/* Start Team */
.team {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}
.team .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.team .box {
  position: relative;
  transition: var(--main-transition);
}
.team .box::before {
  width: calc(100% - 60px);
  z-index: -1;
}
.team .box::before, .team .box::after {
  content: "";
  position: absolute;
  background-color: #f3f3f3;
  top: 0;
  right: 0;
  height: 100%;
  border-radius: 10px;
  transition: var(--main-transition);
}
.team .box::after {
  width: 0;
  z-index: -1;
  background-color: #e4e4e4;
}
.team .box:hover::after {
  width: calc(100% - 60px);
}
.team .box .data {
  display: flex;
  align-items: center;
  padding-top: 60px;
}
.team .box .data img {
  width: calc(100% - 60px);
  border-radius: 10px;
  transition: var(--main-transition)
}
.team .box:hover img, .team .box:hover h3 {
  filter: grayscale(100%)
}
.team .box .data .social {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 60px;
  gap: 20px;
}
.team .box .data .social a {
  color: #777;
}
.team .box .data .social a:hover {
  color: var(--main-color);
  transition: var(--main-transition);
}
.team .box .info {
  padding-left: 60px;
}
.team .box .info h3 {
  color: var(--main-color);
  font-size: 22px;
  margin: 22px 0 0 0;
  transition: var(--main-transition);
}
.team .box .info p {
  margin-top: 10px;
  margin-bottom: 25px;
}
/* End Team */

/* Start Services */
.services {
  background-color: var(--section-background);
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}
.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.services .box {
  background-color: white;
  counter-increment: services;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  transition: var(--main-transition);
  position: relative;
}
.services .box::before {
content: "";
position: absolute;
top: -3px;
left: 50%;
width: 0px;
height: 3px;
transform: translateX(-50%);
background-color: var(--main-color);
transition: var(--main-transition);
}
.services .box:hover::before {
  width: 100%;
}
.services .box:hover {
  transform: translateY(-10px);
}
.services .box > i {
  text-align: center;
  display: block;
  margin: 30px auto 20px;
  color: #d5d5d5;
}
.services .box > h3 {
  color: var(--main-color);
  text-align: center;
  margin: 20px 0 40px;
  font-size: 25px;
}
.services .box .info {
  padding: 15px;
  text-align: right;
  background-color: #f9f9f9;
  position: relative;
}
.services .box .info a {
  color: var(--main-color);
}
.services .box .info a::before {
  content: "0" counter(services);
  position: absolute;
  background-color: var(--main-color);
  color: white;
  top: 0;
  left: 0;
  width: 80px;
  height: 100%;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 15px;
}
.services .box .info a::after {
  content: "";
  position: absolute;
  background-color: #d5d5d5;
  top: 0;
  left: 80px;
  width: 50px;
  height: calc(100% + 0.4px);
  transform: skewX(-30deg);
}
/* End Services */

/* Start Our Skills */
.our-skills {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}
.our-skills .container {
  display: flex;
  align-items: center;
}
.our-skills img {
  
}
@media (max-width: 991px) {
  .our-skills img {
    display: none;
  }
}
.our-skills .skills {
  flex: 1;
}
.our-skills .skill h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.our-skills .skill h3 span {
  color: var(--main-color);
  border: 1px solid #ccc;
  padding: 3px 5px;
  font-size: 12px;
}
.our-skills .skill .progress {
  background-color: #eee;
  height: 30px;
  position: relative;
}
.our-skills .skill .progress span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--main-color);
  width: 50%;
  transition: width 1.5s linear;
}
/* End Our Skills */

/* Start How It Work */
.work-steps {
  background-color: var(--section-background);
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}
.work-steps .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.work-steps .image {
  max-width: 100%;
  margin-right: 100px;
  height: 450px;
}
.work-steps .box {
  background-color: white;
  padding: 30px;
  margin: 0 0 20px;
  display: flex;
  align-items: center;
  border: 3px solid white;
  border-radius: 6px;
  position: relative;
  z-index: 1;
}
.work-steps .box::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0 ;
  background-color: #ededed;
  z-index: -1;
  transition: var(--main-transition)
}
.work-steps .box:hover::before {
  width: 100%;
  height: 100%;
}
.work-steps .box img {
  width: 64px;
  margin-right: 30px;
} 
.work-steps .box .text h3 {
  margin: 0;
  font-size: 22px;
}
.work-steps .box .text p {
  color: #777;
  line-height: 1.7;
  margin: 10px 0 0;
  font-size: 18px;
}
/* End How It Work */

/* Start Events */
.events {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  position: relative;
}
.events .container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.events img {
  max-width: 450px;
}
.events .info {
  flex: 1;
}
.events .info .time {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  gap: 10px;
}
.events .info .time .unit {
  text-align: center;
  border: 1px solid #d4d4d4;
  border-radius: 6px;
  width: 75px;
  transition: var(--main-transition);
}
.events .info .time .unit span {
  display: block;
  transition: var(--main-transition);
}
.events .info .time .unit span:first-child {
  font-size: 35px;
  padding: 15px;
  color: var(--main-color);
  font-weight: bold;
}
.events .info .time .unit span:last-child {
  border-top: 1px solid #d4d4d4;
  padding: 8px 10px;
  font-size: 13px;
}
.events .info .time .unit:hover, .events .info .time .unit:hover span:last-child {
  border-color: var(--main-color);
}
.events .info .title {
  text-align: center;
  margin: 40px 0 0;
  font-size: 30px;
}
.events .info .description {
  text-align: center;
  line-height: 1.7;
  font-size: 19px;
  color: #777;
}
.events .subscribe {
  width: 100%;
  margin-top: 50px;
}
.events .subscribe form {
  width: 600px;
  margin: 20px auto;
  padding: 30px 40px;
  background-color: #f6f5f5;
  border-radius: 50px;
  display: flex;
  gap: 20px;
}
.events .subscribe form input[type="email"] {
  flex: 1;
  padding: 20px;
  border-radius: 50px;
  caret-color: var(--main-color);
  border: none;
  outline-color: transparent;
}
.events .subscribe form input[type="submit"] {
  background-color: var(--main-color);
  color: white;
  border: none;
  border-radius: 50px;
  padding: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: var(--main-transition);
}
.events .subscribe form input[type="submit"]:hover {
  background-color: var(--main-color-alt);
}
/* End Events */

/* Start Pricing */
.pricing {
  background-color: var(--section-background);
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  position: relative;
}
.pricing .container {
  display: grid;
  grid-template-columns:repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
.pricing .box {
  background-color: white;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  text-align: center;
  position: relative;
  transition: var(--main-transition);
  z-index: 1;
}
.pricing .box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 50%;
  background-color: rebeccapurple;
  z-index: -1;
  transition: var(--main-transition);
}
.pricing .box::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 0px;
  height: 50%;
  background-color: purple;
  z-index: -1;
  transition: var(--main-transition);
}
.pricing .box:hover::before, .pricing .box:hover::after {
  width: 100%;
}
.pricing .title{
  font-size: 25px;
  font-weight: bold;
  margin: 30px auto;
  letter-spacing: -1px;
}
.pricing img {
  max-width: 80px;
  margin-bottom: 30px;
}
.pricing .price {
  margin-bottom: 20px;
}
.pricing .price .amount {
  display: block;
  font-size: 60px;
  font-weight: bold;
  color: var(--main-color);
  margin-bottom: 5px;
}
.pricing .price .time {
  color: #777;
}
.pricing ul {
  text-align: left;
}
.pricing ul li {
  padding: 20px;
  border-top: 1px solid #eee;
}
.pricing ul li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  font-weight: 900;
  margin-right: 10px;
  color: var(--main-color);
}
.pricing a {
  display: block;
  padding: 15px 20px;
  border: 2px solid var(--main-color);
  width: fit-content;
  margin: 30px auto 40px;
  color: var(--main-color);
  border-radius: 6px;
  font-weight: bold;
  transition: var(--main-transition);
}
.pricing a:hover {
  background-color: var(--main-color-alt);
  border-color: var(--main-color-alt);
  color: white;
}
.label {
  position: absolute;
  writing-mode: vertical-rl;
  background-color: var(--main-color);
  padding: 10px 10px 35px 10px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  right: 20px;
  width: 40px;
}
.label::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 20px;
  border-color: transparent transparent white;
  transition: var(--main-transition)
}
.pricing .box:hover .label::before {
  border-color: transparent transparent rebeccapurple;
}
.pricing .advanced {
  top: -20px;
}
/* End Pricing */

/* Start Video */
.video {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}
.video .holder {
  display: flex;
  border: 1px solid #ddd;
}
.video .holder .list {
  min-width: 300px;
  background-color: white;
}
.video .holder .list .name {
  font-weight: bold;
  padding: 20px;
  background-color: #f4f4f4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--main-color);
}
.video .holder .list ul li {
  padding: 20px;
  border-top: 1px solid var(--section-background);
  cursor: pointer;
  transition: var(--main-transition);
}
.video .holder .list ul li:hover {
  color: var(--main-color-alt)
}
.video .holder .list ul li span {
  display: block;
  margin-top: 10px;
  color: #777;
}
.video .holder .preview {
  background-color: #e2e2e2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}
.video .holder .preview img {
  max-width: 100%;
}
.video .holder .preview .info {
  padding: 20px;
  background-color: white;
  margin-top: 10px;
}
/* End Video */

/* Start Stats */
.stats {
  background-color: var(--section-background);
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}
.stats h2 {
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  margin-top: 0;
}
.stats .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
.stats .box {
  background-color: white;
  padding: 30px 15px;
  text-align: center;
  position: relative;
  opacity: 0.8;
  transition: var(--main-transition);
}
.stats .box::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 2px;
  height: 0%;
  background-color: var(--main-color);
  transition: 1s;
}
.stats .box::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 0%;
  background-color: var(--main-color);
  transition: 1s;
}
.stats .box:hover {
  opacity: 1;
}
.stats .box:hover::before, .stats .box:hover::after {
  height: 100%;
} 
.stats .box .number {
  display: block;
  font-size: 50px;
  font-weight: bold;
  margin: 10px auto;
}
.stats .box .text {
  color: var(--main-color);
  font-style: italic;
  font-size: 20px;
  font-weight: bold;
}
/* End Stats */

/* Start Discount */
.discount {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
}
.discount .content {
  padding: 0 20px;
  text-align: center;
}
.discount .image {
  background-image: url(../image/discount-background1.jpg);
  background-size: cover;
  position: relative;
  flex-basis: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  animation: changing-background 10s linear infinite;
}
.discount .image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(23 135 224 / 97%);
  z-index: -1;
}
.discount .image h2 {
  font-size: 40px;
  letter-spacing: -2px;
}
.discount .image p {
  line-height: 1.6;
  font-size: 18px;
  max-width: 500px;
}
.discount .image img {
  width: 300px;
  max-width: 100%;
}
.discount .form {
  display: flex;
  flex-basis: 50%;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}
.discount .form .content h2 {
  font-size: 40px;
  letter-spacing: -2px;
}
.discount .form .content .input {
  display: block;
  width: 100%;
  margin-bottom: 25px;
  padding: 15px;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: #f9f9f9;
  caret-color: var(--main-color);
  outline-color: transparent; 
}
.discount .form .content textarea.input {
  resize: none;
  height: 200px;
}
.discount .form .content [type="submit"] {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  font-size: 20px;
  border: none;
  cursor: pointer;
  transition: var(--main-transition);
  letter-spacing: 1.4px;
}
.discount .form .content [type="submit"]:hover {
  background-color: var(--main-color-alt);
}
/* End Discount */

/* Start Footer */
.footer {
  background-color: #191919;
  padding: 70px 0 0;
}
.footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px ,1fr));
  gap: 40px;
}
.footer .box h3 {
  color: white;
  font-size: 50px;
  margin: 0 0 20px;
}
.footer .box ul.social {
  display: flex;
}
.footer .box ul.social li {
  margin-right: 10px;
}
.footer .box ul.social li a {
  background-color: #313131;
  color: #b9b9b9;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
  transition: var(--main-transition);
}
.footer .box ul.social li a.facebook:hover {
  background-color: #1877f2;
} 
.footer .box ul.social li a.twitter:hover {
  background-color: #1da1f2;
} 
.footer .box ul.social li a.youtube:hover {
  background-color: #ff0000;
} 
.footer .box .text {
  line-height: 2;
  color: #b9b9b9; 
}
.footer .box .links li {
  padding: 15px 0;
  transition: var(--main-transition);
}
.footer .box .links li:hover {
  padding-left: 10px;
}
.footer .box .links li:not(:last-child) {
  border-bottom: 1px solid #444;
}
.footer .box .links li a {
  color: #b9b9b9;
  transition: var(--main-transition);
}
.footer  .links li:hover a {
  color: white;
}
.footer  .links li a::before {
  font-family: "Font Awesome 5 Free";
  content: "\F101";
  font-weight: 900;
  margin-right: 10px;
  color: var(--main-color);
}
.footer .box .line {
  display: flex;
  align-items: center;
  color: #b9b9b9;
  margin-bottom: 30px;
}
.footer .box .line i {
  font-size: 25px;
  color: var(--main-color);
  margin-right: 10px;
}
.footer .box .line .info {
  line-height: 1.7;
  flex: 1;
}
.footer .footer-gallery img {
  width: 78px;
  height: 78px;
  border: 3px solid white;
  margin: 2px;
}
.footer .copyright {
  padding: 25px 0;
  text-align: center;
  color: white;
  margin: 50px 0 0;
  border-top: 1px solid #444;
}
.footer .copyright span {
}
/* End Footer */

/* Start Animation */
@keyframes up-and-down {
  0%, 100% {
    top: 0;
  }
  50% {
    top: -50px;
  }
}
@keyframes bouncing {
  0%, 10%, 20%, 50%, 80%, 100% {
    transform: translateY(0)
  }
  40%, 60% {
    transform: translateY(-15px)
  }
}
@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
  }
}
@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
  }
}
@keyframes flashing {
  0%, 40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}
@keyframes changing-background {
  0%, 100% {
    background-image: url(../image/discount-background1.jpg);
  }
  50% {
    background-image: url(../image/discount-background2.jpg);
  }
}
/* End Animation */
